.add_button {
  font-size: var(--fs-S);
  font-weight: var(--fw-semi-bold);
  background: var(--clr-white);
  border: 2px solid var(--clr-rose-400);
  border-radius: 999px;
  padding: var(--spacing-150);
  width: 50%;
  min-width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-100);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateY(50%) translateX(-50%);
}

.add_button:hover {
  cursor: pointer;
}

.quantity_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: var(--fs-S);
  font-weight: var(--fw-semi-bold);
  color: var(--clr-white);
}

.icon {
  width: 30px;
  height: 30px;
  border: 1px solid var(--clr-white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon:hover {
  cursor: pointer;
}

.red {
  background: var(--clr-red);
}
