.image_wrapper {
  width: fit-content;
  max-width: 350px;
  margin-bottom: var(--spacing-500);
  position: relative;
}

.picture {
  border-radius: 8px;
}

.active {
  outline: 3px solid var(--clr-red);
  border-radius: 8px;
}
