@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

:root {
  /* font */
  --ff-base: 'Red Hat Text', sans-serif;

  --fs-S: calc(14rem / 16);
  --fs-M: calc(16rem / 16);
  --fs-L: calc(24rem / 16);
  --fs-XL: calc(40rem / 16);

  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  /* spacings */
  --spacing-50: 4px;
  --spacing-100: 8px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-1100: 88px;

  /* colors */
  --clr-red: hsl(14 86 42);
  --clr-rose-50: hsl(20 50 98);
  --clr-rose-100: hsl(13 31 94);
  --clr-rose-300: hsl(14 25 72);
  --clr-rose-400: hsl(7 20 60);
  --clr-rose-500: hsl(12 20 44);
  --clr-rose-900: hsl(14 65 9);
  --clr-green: hsl(159 69 38);
  --clr-black: hsl(0 0 0);
  --clr-white: hsl(0 0 100);
}
