.button {
  background: var(--clr-red);
  padding: var(--spacing-200);
  display: grid;
  place-items: center;
  color: var(--clr-white);
  font-size: var(--fs-M);
  font-weight: var(--fw-semi-bold);
  border-radius: 9999px;
  border: none;
}

.button:hover {
  cursor: pointer;
}
