.main_grid {
  width: 100%;
  max-width: 800px;
}

.title {
  font-size: var(--fs-XL);
  font-weight: var(--fw-bold);
  margin-bottom: var(--spacing-400);
}

.cards_grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: var(--spacing-300);
  justify-items: center;
}
